body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* headings */
.heading {
  font-size: 30px;
  margin: 0 0 0 0;
  padding: 10px;
  background-color: gray;
  color: white;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 10%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 2% 3% 3%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Gallary Section */

#Gallary {
  background-color: lightblue;
}

.Gallary-image {
  width: 80%;
  padding: 3px;
  margin: 10px;
}

/* Events Section */

#Events {
  padding: 10px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Footer Section */

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* Committee */
.container1 {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 150px 100px;
  grid-template-areas: "image" "text";

  font-family: roboto;
  border-radius: 15px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 1.5%;
  transition: 0.5s ease;
  cursor: pointer;
}
.card-image {
  grid-area: image;
  border-radius: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 5px;
}

.card-text p {
  color: grey;
  font-weight: 300;
  padding: 1px;
  font-size: 1rem;
}
.card-text h2 {
  color: rgba(18, 21, 20, 0.9);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 20px;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.6);
}

.c1 {
  background-image: url(../images/pawan.JPG);
}
/*card 2*/
.c2 {
  background-image: url(../images/mansi2.jpeg);
}
/*card 3*/
.c3 {
  background-image: url(../images/shoaib2.jpeg);
}
/*card 4*/
.c4 {
  background-image: url(../images/mohit.jpeg);
}
/*card 5*/
.c5 {
  background-image: url(../images/hariyali.jpeg);
}
/*card 6*/
.c6 {
  background-image: url(../images/divyam.jpg);
}
/*card ends*/
