body {
  font-family: 'Signika Negative', sans-serif;
  text-align: center;
}

/* headings */
.heading{
  font-size: 40px;
  margin: 0 0 0 0;
  padding: 10px;
  background-image: url('https://i.gifer.com/J59.gif');
  color: white;
}

/* Sub-headings */
.Sub-heading{
  text-align: center;
  padding: 5px;
  margin: 0 0 0 1rem;
}

/* Navigation Bar */
.navbar-brand {
  padding:0 0 0 1.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 1rem;
}
.nav-link {
  font-size: 1rem;
  font-family: 'Merriweather', serif;
} 

/* Title Section */

#title {
  background-image:linear-gradient(rgb(0, 0, 143),black);
  /* background-image: url('https://i.gifer.com/J59.gif'); */
  color: black;
  text-align: left;
  overflow: hidden;
  z-index: 999;
  position: static;
  top: 0;
  width: 100%;
}


/* About Us */
.aboutus-head{
  padding: 10px;
  margin-top: 1.5rem;
}
.banner {
  background-image: url("https://i.gifer.com/J4o.gif");
  float: none;
  padding: 100px;
  color: aliceblue;
  text-align: center;
}
.banner .col h1 {
  font-size: 5rem;
}
.aboutus-para {
  margin-top: 5px;
  padding: 50px;
  text-align: left;
}
.teaser {
  margin-bottom: 10%;
}
video {
  margin: auto;
}
.aboutus-image{
  border-radius: 30px;
}

/* Gallary Section */

#Gallary {
  background-color: #0C0404;
}

.Gallary-image {
  width: 55%;
}



/* Events Section */


.event-name{
  padding: 10px;
}
.event-logo{
  width: 200px;
  padding:10px;
}
.event-list{
  padding: 10px;
  text-align: left;
  border: 1px solid black;
  margin: 10px;
}


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


/* Committee */
.container1 {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 150px 100px;
  grid-template-areas: "image" "text";

  font-family: roboto;
  border-radius: 15px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 3%;
  transition: 0.5s ease;
  cursor: pointer;
}
.card-image {
  grid-area: image;
  border-radius: 50%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.card-text {
  grid-area: text;
  margin: 5px;
}

.card-text p {
  color: grey;
  font-weight: 300;
  padding: 1px;
  font-size: 1rem;
}
.card-text h2 {
  color: rgba(18, 21, 20, 0.9);
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: 20px;
}

.card:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.6);
}

.c1 {
  background-image: url(../images/pawan.JPG);
}
/*card 2*/
.c2 {
  background-image: url(../images/mansi2.jpeg);
}
/*card 3*/
.c3 {
  background-image: url(../images/shoaib2.jpeg);
}
/*card 4*/
.c4 {
  background-image: url(../images/mohit.jpeg);
}
/*card 5*/
.c5 {
  background-image: url(../images/hariyali.jpeg);
}
/*card 6*/
.c6 {
  background-image: url(../images/divyam.jpg);
}
/*card ends*/